################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App/bin/*
/App/obj/*
/Web/App_Data/*
/Web/bin/*.xml
/Web/bin/*.pdb
/Web/bin/Web.dll
/Web/obj/*
*.suo
*.user
